<% if @edit %>


<% else %>

<h1>Add A New Recipe</h1>

<form action='/recipe_add' method = "post">

  <br>

  <label for="title">Title of recipe</label>
  <input id="title" name="title" placeholer="Mona's Biscuits" type="text">

  <br>

  <label for="instructions">Instructions</label>
  <textarea id="instructions" name="instructions" cols="40" rows="5"></textarea>

  <br>

  <% @ingredients.each do |ingredient| %>

    <%= "<input type='checkbox' name='ingredients[]' value='#{ingredient.id}'>#{ingredient.name}<br>" %>

  <% end %>

  <input type="submit" value="Save Recipe">

</form>

<form action='/add_ingredient_recipe_form' method='post'>
  <input type='text' name='name' placeholder='Ingredient'>
  <input type='submit' value='Add Ingredient'>
</form>

<% end %>

<a href='/'>Go back</a>
