<h1><%= @recipe.title %>!!</h1>

<ol>
  <% @ingredients.each() do |ingredient| %>
  <li>
    <%= ingredient.name %>
  </li>
  <% end %>
</ol>

<p><%= @recipe.instructions %></p>

<a href='/'>Go Back</a>
